---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.74,-104.98&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "550-598",
                       "short_name" : "550-598",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Colfax Avenue",
                       "short_name" : "U.S. 287",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Capitol Hill",
                       "short_name" : "Capitol Hill",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                  [...]
