.container.container-home
  %h1.title-home This is BandMatch.
  %h2.subtitle-home Pick a concert, make a plan, meet new friends.
  = button_to "Rock on", "/auth/facebook", class: "btn btn-large btn-home btn-warning"
%p.footer-home This project was built by #{link_to "Jorge Téllez", "http://github.com/novohispano"} at gSchool.